@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(249 250 251);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(75 85 99);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(15 23 42);;
  }

}

.project {
  @apply  w-full flex flex-col rounded-md md:rounded-b-lg bg-white hover:bg-slate-100 drop-shadow sm:drop-shadow-md lg:shadow-xl cursor-pointer hover:scale-105 transition-all
}

.project img {
  @apply  h-32 md:h-48 xl:h-60 rounded-t-md
}

.project_div {
  @apply  p-2 md:p-3 xl:py-4 flex flex-col justify-between
}
