@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(249 250 251);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(75 85 99);
    /* border-radius: 100vh; */
    /* border: 3px solid #f6f7ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(15 23 42);;
  }
}
